/*Body*/
:root {
	background-image: url('../img/mooning.png');
	padding: 20px;
	background-attachment: fixed;
	margin: auto;
	border: 7px solid #fff;
	
}




/*Headers*/

h1 {
	font-family: 'Allura', cursive;
	color: #3BF6FC;
	padding: 4px 4px;
	text-align: center;
	font-size: 2.75em;
	
	
}

h2 {
	font-family: 'Droid Sans', sans-serif;
	color: #005BC5;
	padding: 4px 4px;
	font-size: 1.75em;
}




/*Body text*/

p {
	font-family: 'Forum', cursive;
	line-height: 1.2em;
	font-size: 1.2em;
	color: #636363;
}

.one {
	font-family: 'Allura', cursive;
	font-size: 1em;
	


}

.two {
	font-family: 'Droid Sans', sans-serif;
	font-size: .75em;


}


.three {
	font-family: 'Forum', cursive;
	font-size: .75em;

}

aside {
	text-align: center;
}
/*Links*/

a:link, 
a:visited {
	font-family: 'Forum', cursive;
	text-transform: uppercase;
	text-decoration: none;
	color: #00B4FC;
}

a:hover, 
a:active {
	font-family: 'Forum', cursive;
	color: #17F9FF;
}






.color-1,
.color-2,
.color-3,
.color-4,
.pattern-1,
.pattern-2,
.pattern-3 {
	border: 1px solid #fff;
	float: left;
	margin: 20px 10px;
	height: 50px;
	width: 50px;

}

.colors, .patterns {
	margin: 20px 20px;
	float: left;
	font-family: 'Droid Sans', sans-serif;

}

.color {
	float: left;
}
/*Color Pallette*/

.color-1 {
	background: #17F9FF;
}

.color-2 {
	background: #005BC5;
}

.color-3 {
	background: #00B4FC;
}

.color-4 {
	background: #636363;
}



/*Textures*/

.pattern-1 {
background-image: url("../img/mooning.png");

}

.pattern-2 {
background-image: url("../img/plaid.png");
	}

.pattern-3 {
background-image: url('../img/glitter.jpg');
}

/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}